<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>
  
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/style/global.css"><!--撰寫自己的css檔並用link載入-->
  <link rel="stylesheet" href="https://kit.fontawesome.com/716ce1b949.css" crossorigin="anonymous">
</head>
<body>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/716ce1b949.js" crossorigin="anonymous"></script>
  {{{body}}}
</body>
</html>